<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp - All urls</title>
  </head>
  <header>
      <% include ./partials/_header %>
  </header>
  <body>
    <h1>Your Short URLs</h1>
    <ul>
      <p>
        <% for (var k in urls) { %>
        <li>
          <%= k %> &rarr; <a href="<%= urls[k] %>"><%= urls[k] %><a>
          <form method="POST" action="/urls/<%= k %>/delete">
            <input type="submit" value="Delete">
          </form>
          <a href="/urls/<%= k %>"> Edit </a>
        </li>
        <br>
        <% }; %>
      </p>
    </ul>
    <a href="http://localhost:8080/urls/new">Get new url</a>
  </body>
</html>
